footer {
    background-color: #303030;
    color: white;
    text-align: center;
    padding: 30px 10px;
    margin-top: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    height: auto;
}

footer p {
    margin: 0;
    font-size: 0.95rem;
}